<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home | E-Shopper</title>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css"
	th:href="@{/font-awesome.min.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/main.css}" />
</head>
<body>
	<th:block th:include="/_header1"></th:block>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Actions</h2>
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="orderList.html">View Order List</a>
									</h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a href="addProduct.html">Add Product</a>
									</h4>
								</div>
							</div>
							
						</div>
		</div>
	</section>
	<th:block th:include="/_footer"></th:block>
</body>
</html>
